{% trans_default_domain 'FOSUB' %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/perfil.css') }}">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">





<div class="wrapper">
    <div class="flexContainer">
        <div class="firstCol">

            {% if app.user.imageName==null %}
                <img src="https://image.flaticon.com/icons/svg/72/72905.svg"  class="img-fluid rounded" alt="Responsive image rounded" style="width:100px;">
            {% else%}
                <img src="{{ asset('imagenes/user/' ~ app.user.imageName) }}" class="img-fluid rounded" alt="Responsive image rounded" style="width:100px;">
            {% endif %}
            <i>{{ app.user.username }}</i>

        </div>


        <div class="secondCol">
            <div class="innerFlex">
                <div class="col-12">
                    <div class="card mb-3">
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

                        {{ form_widget(form) }}

                        <div>
                            <input type="submit" value="cambiar contraseña" />
                        </div>


                        {{ form_end(form) }}


                    </div>
                </div>
            </div>


                    </div>
        <div class="thirdCol">

        </div>
    </div>
</div>





